:root{
	--bodyColor: #ffff;
	--navColor: #fafafa;
	--navTextColor: #777;
	--navTextHoverColor: #4285f4;
	--linkColor: #1a0dab;


}
body, .container, .section, .right,.footer, .joinside, .joinform, .nav, .section, .search{
	display: -webkit-flex;
	display:         flex;
/*	#E3D26F
	#353531
	#EC4E20
	#FF9505
	#2F1B25*/
}

.right, .footer, .joinside, .joinform, .nav, .section, .search{
	-webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
}

html,body {
	height: 100%;

}

body {
	margin: 0 0;
	font-size: small;
	font-family: arial, sans-serif;
}
table{
	table-layout: fixed;
	background-color: var(--navColor);
}
table th{
	padding: 20px 15px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: var(--navTextHoverColor);
}
table td{
	padding: 15px;
	text-align: left;
	vertical-align:middle;
	font-size: 13px;
	font-weight: 400;
	color: #000000;
	border-bottom: solid 1px rgba(255,255,255,0.1);
}

.container{
	flex-direction: column;
	width: 100%;
}

	.nav{
		background-color: var(--navColor);
		/*flex: 0 1 auto;*/

	}
		.nav ul{
			display: flex;
		}
		.nav ul a{
			text-decoration: none;
		}
		.nav ul li {
			display: flex;
			margin: 10px;
			border-radius: 5px;
			color: var(--navTextColor);
			padding: 15px;
			font-size: 15px;
		}
		.nav ul li:hover{
			color: var(--navTextHoverColor);
			text-decoration: underline;
		}

	.right{
		flex-direction: column;
		flex: 1 1 auto;
		background-color: var(--bodyColor);
	}

		.section{
			flex: 1 1 auto;
			width: 100%;
			flex-direction: column;
		}
			.section h1{
				text-align: center;
				font-size: 72px;
				color: var(--navTextHoverColor);
			}
			.section .search{
				width: 500px;
			}
			.section .search button{
				background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
				background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
				-webkit-border-radius: 2px;
				-webkit-user-select: none;
				background-color: #f2f2f2;
				border: 1px solid #f2f2f2;
				border-radius: 2px;
				color: #757575;
				font-size: 13px;
				font-weight: bold;
				margin: 11px 4px;
				min-width: 54px;
				padding: 0 16px;
				text-align: center;
				height: 36px;
				line-height: 27px
			}
			.section .search button:hover{
				background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
				background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
				background-image: linear-gradient(#f8f8f8, #f1f1f1);
				-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				background-color: #f8f8f8;
				border: 1px solid #c6c6c6;
				color: #222;
			}

			.section .search input{
				border: hidden;
				padding: 0px;
				margin: 0px;
				height: auto;
				width: 100%;
				height: 36px;
				line-height: 34px;
				height: 34px !important;
				border: 1px solid #f2f2f2;
				font-size: 13px;
			}
			.section .search input:focus {
				box-shadow: 0px 0px 3px 1px #a2d7fc;
			}



			/*join */
			.section{
				flex-direction: row;
				justify-content: space-around;
			}
				.section .joinside{
					width: 400px;
					height: 300px;
					color: #333;
					box-shadow: 0px 6px 8px rgba(0,0,0,0.5);
					background: #ffffff;
					background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
					background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
					background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
					background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
					background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
				}
				.section .joinside header{
					font-family: 'Open Sans Condensed', sans-serif;
					font-size: 18px;
					text-transform: uppercase;
					margin-bottom: 20px;
					color: var(--navTextHoverColor);
				}
				.section .joinside .joinform{
					width: 70%;
  					margin: 30px auto;
					flex-direction: column;
				}
					.section .joinside .joinform button{
						width: 100%;
						height: 30px;
						margin-top: 10px;
						border-radius: 5px;
						background-color: #c6c6c6;
						border: 1px solid #f2f2f2;
						color: black;
						text-transform: uppercase;
						text-shadow: 0px 1px 1px white;
						font-size: 12px;
					}
					.section .joinside .joinform button:hover {
					  text-shadow: 0px 0px 1px gray;
					}

					.section .joinside .joinform input{
						width: 100%;
						  height: 25px;
						  border-radius: 5px;
						  border: 1px solid #e1e1e1;
						  margin-bottom: 10px;
						  text-indent: 10px;
						  outline: none;
						  -webkit-transition: box-shadow 1s;
						  	 -moz-transition: box-shadow 1s;
							   -o-transition: box-shadow 1s;
								  transition: box-shadow 1s;	
					}
					.section .joinside .joinform input:focus {
						box-shadow: 0px 0px 3px 1px #a2d7fc;
					}

				/*user table*/
				/*video table*/
				.section table.videolist{
					width: 80%;
				}
				.section table.videolist td a{
					color: black;
					text-decoration: none;
				}

				.section table.videolist td a:hover{
					color: var(--navTextHoverColor);
					text-decoration: underline;
				}


				/*video info page*/
				.section img{
					max-width: 30%;
				    height: auto;
				    width: auto
				}
				.section .videoinfo{
					width: 40%;
				}
				.section .videoinfo h1{
					color: var(--navTextHoverColor);
					font-size: 50px;
				}


		.footer{
			flex: 0 0 50px;
			width: 100%;
		}
